@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Robotolight.woff2") format("woff2"), url("../fonts/Robotolight.woff") format("woff"), url("../fonts/Robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.sm-1,
.sm-2,
.sm-3,
.sm-4,
.sm-5,
.sm-6,
.sm-7,
.sm-8,
.sm-9,
.sm-10,
.sm-11,
.sm-12,
.sm-auto,
.md-1,
.md-2,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9,
.md-10,
.md-11,
.md-12,
.md-auto,
.lg-1,
.lg-2,
.lg-3,
.lg-4,
.lg-5,
.lg-6,
.lg-7,
.lg-8,
.lg-9,
.lg-10,
.lg-11,
.lg-12,
.lg-auto,
.xl-1,
.xl-2,
.xl-3,
.xl-4,
.xl-5,
.xl-6,
.xl-7,
.xl-8,
.xl-9,
.xl-10,
.xl-11,
.xl-12,
.xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .sm-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 768px) {
  .md-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 992px) {
  .lg-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .lg-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; } }

@media (min-width: 1200px) {
  .xl-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .xl-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .xl-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .xl-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .xl-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .xl-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .xl-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .xl-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .xl-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .xl-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .xl-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; } }

.text_center {
  text-align: center; }

.text_left {
  text-align: left; }

.text_right {
  text-align: right; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

body {
  font: 100 14px/1em 'Roboto', sans-serif;
  line-height: 1.5;
  color: #828589; }

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder {
  color: inherit; }

button:focus,
input:focus,
textarea:focus {
  outline: none; }

h1 {
  font-size: 34px;
  line-height: 50px;
  color: #FFFFFF;
  margin: 0; }

h2, h3 {
  font-size: 28px;
  line-height: 50px;
  color: #000000; }

a {
  text-decoration: none;
  cursor: pointer; }

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none; }

img {
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: middle; }

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (max-width: 575px) {
    .container {
      width: auto; } }
  @media (min-width: 576px) {
    .container {
      width: 540px; } }
  @media (min-width: 768px) {
    .container {
      width: 720px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }

.btn {
  background: #FFFFFF;
  border-radius: 100px;
  border: none;
  -webkit-box-shadow: 0 6px 15px rgba(215, 112, 101, 0.8);
          box-shadow: 0 6px 15px rgba(215, 112, 101, 0.8);
  color: #FF6351;
  width: 150px;
  height: 40px;
  cursor: pointer; }
  .btn.btn_transp {
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    -webkit-box-shadow: none;
            box-shadow: none; }

header .header__navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 0;
  font-size: 16px;
  z-index: 10; }
  header .header__navbar a {
    color: #FFFFFF; }
  header .header__navbar .row {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

header .header__navbar__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header .header__navbar__menu a {
    padding-right: 50px; }
    header .header__navbar__menu a:last-child {
      padding-right: 0; }

.header__banner {
  background: -o-linear-gradient(342.55deg, #DF6598 1.5%, #857BE4 73.76%);
  background: linear-gradient(107.45deg, #DF6598 1.5%, #857BE4 73.76%);
  font-size: 16px;
  color: #FFFFFF;
  padding: 200px 0; }
  .header__banner .banner__img {
    position: absolute;
    right: 0;
    top: 0;
    width: 43%; }

.btn__banner .btn {
  margin-right: 20px; }
  .btn__banner .btn:last-child {
    margin-right: 0; }

.section {
  margin-bottom: 170px; }

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 46px 0; }
  .title span.h1__title {
    font-size: 28px;
    line-height: 50px;
    color: #000000;
    position: relative; }
    .title span.h1__title::after {
      content: '';
      position: absolute;
      bottom: -10px;
      width: 125px;
      height: 5px;
      background: -webkit-gradient(linear, right top, left top, from(#DE6598), to(rgba(222, 101, 152, 0)));
      background: -o-linear-gradient(right, #DE6598 0%, rgba(222, 101, 152, 0) 100%);
      background: linear-gradient(270deg, #DE6598 0%, rgba(222, 101, 152, 0) 100%); }
  .title span.sub__title {
    font-size: 16px;
    line-height: 24px;
    color: #DE6598;
    letter-spacing: 0.05em; }

.is-about__item {
  padding: 0 40px; }
  .is-about__item .icon {
    padding: 20px 0;
    position: relative;
    display: inline-block; }
    .is-about__item .icon::after {
      content: '';
      position: absolute;
      top: -12px;
      right: -39px;
      width: 84px;
      height: 84px;
      border-radius: 50%;
      z-index: -10; }
    .is-about__item .icon.benefit::after {
      background: #E9E5FF; }
    .is-about__item .icon.transparency::after {
      background: #EAF4FD; }
    .is-about__item .icon.efficiency::after {
      background: #FDF3EA; }
  .is-about__item .title__item {
    font-size: 18px;
    line-height: 50px;
    color: #313639; }
  .is-about__item .desc {
    font-size: 14px;
    line-height: 22px; }

.is-partners__desc {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }

.is-partners__wrapper {
  position: relative;
  height: 430px; }

.is-partners__item {
  position: absolute;
  background: -o-linear-gradient(350.32deg, #DD6599 1.5%, #897BE2 73.76%);
  background: linear-gradient(99.68deg, #DD6599 1.5%, #897BE2 73.76%);
  -webkit-box-shadow: 0px 20px 30px #8a7ae0 80;
          box-shadow: 0px 20px 30px #8a7ae0 80;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .is-partners__item.item_1 {
    left: 0;
    top: 0;
    width: 150px;
    height: 150px; }
  .is-partners__item.item_2 {
    left: 0;
    right: 0;
    top: 40px;
    margin: 0 auto; }
  .is-partners__item.item_3 {
    right: 0;
    top: 60px;
    width: 200px;
    height: 200px; }
  .is-partners__item.item_4 {
    left: 90px;
    width: 200px;
    height: 200px;
    bottom: 0; }
  .is-partners__item.item_5 {
    right: 160px;
    bottom: 10px; }

.form__wrapper {
  background: #F8F8F8;
  border-radius: 15px;
  padding: 20px;
  margin-top: 200px; }
  .form__wrapper .form__title {
    font-size: 28px;
    line-height: 50px;
    color: #000000;
    padding: 23px 0; }

.calculator .h2__title {
  font-size: 12px;
  color: #828589;
  padding-bottom: 11px; }

.calculator .form__box {
  margin-bottom: 37px; }

.calculator .tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .calculator .tags label {
    font-size: 14px;
    color: #313639;
    margin-right: 58px;
    cursor: pointer; }
  .calculator .tags.tags__input .tag-input {
    width: 0; }
    .calculator .tags.tags__input .tag-input + [for] {
      position: relative; }
      .calculator .tags.tags__input .tag-input + [for]::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0;
        width: 16px;
        height: 16px;
        border: 1px solid rgba(1, 1, 1, 0.54);
        border-radius: 2px; }
    .calculator .tags.tags__input .tag-input:checked + [for]::before {
      border: 1px solid #DF6598;
      background: #DF6598; }
    .calculator .tags.tags__input .tag-input:checked + [for]::after {
      content: '✔';
      position: absolute;
      top: 0px;
      left: 4px;
      color: #f8f8f8; }
  .calculator .tags.tags__input label {
    padding-left: 23px; }
  .calculator .tags.tags__radio label {
    margin-right: 0; }
  .calculator .tags.tags__radio .tag-input {
    width: 0; }
    .calculator .tags.tags__radio .tag-input + [for] {
      padding: 10px 18px; }
    .calculator .tags.tags__radio .tag-input:checked + [for] {
      background: #E9E5FF;
      border-radius: 7px;
      color: #493F7B; }

.calculator__table__header {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #CBCBCB; }
  .calculator__table__header .th {
    font-size: 12px;
    line-height: 22px;
    color: #828589; }

.jc-cpt-inner {
  font-size: 14px;
  line-height: 50px;
  color: #313639; }
  .jc-cpt-inner .row {
    padding: 8px 0;
    border-bottom: 1px solid rgba(203, 203, 203, 0.25); }
    .jc-cpt-inner .row:last-child {
      border-bottom: none; }
  .jc-cpt-inner a.btn {
    font-size: 16px;
    line-height: 24px;
    color: #493F7B;
    border: 1px solid #493F7B;
    border-radius: 100px;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 8px 31px; }

.faq__items {
  margin-right: 70px; }
  .faq__items .faq__item {
    background: #f8f8f8;
    -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.04);
            box-shadow: 0 4px 7px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    border: none;
    width: 100%;
    text-align: left;
    color: #313639;
    font-size: 14px;
    line-height: 26px;
    padding: 15px 85px 15px 26px;
    margin-bottom: 11px;
    position: relative; }
    .faq__items .faq__item:last-child {
      margin-bottom: 0; }
    .faq__items .faq__item span {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 0;
      bottom: 0;
      right: 10px;
      margin: auto;
      cursor: pointer; }
      .faq__items .faq__item span::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 1px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background: #DE6598; }
      .faq__items .faq__item span::after {
        content: '';
        position: absolute;
        width: 50%;
        height: 1px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background: #DE6598;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }
  .faq__items .faq__item__desc {
    display: none; }

.feedback.form {
  color: #FFFFFF;
  background: -o-linear-gradient(350.46deg, #DC669A 1.5%, #877BE3 73.76%);
  background: linear-gradient(99.54deg, #DC669A 1.5%, #877BE3 73.76%);
  border-radius: 7px;
  padding: 41px; }
  .feedback.form input {
    background: none;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 30px;
    padding: 0px 0px 15px 0px; }
    .feedback.form input[type="submit"] {
      width: 150px;
      height: 40px;
      font-size: 16px;
      color: #DE6598;
      background: #FFFFFF;
      margin: 40px 0 30px 0;
      padding: 0;
      -webkit-box-shadow: none;
              box-shadow: none; }

footer {
  background: #15262D;
  padding: 50px 0; }
