doctype html
html(lang='UTF-8')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Test
        link(href='./css/normalize.min.css', rel='stylesheet')
        link(href='./css/libs.min.css', rel='stylesheet')
        link(href='./css/style.min.css', rel='stylesheet')

    body

        header
            .header__navbar
                .container
                    .row
                        .md-4.burger: span
                        .logo.lg-auto.md-4
                            img(src='./img/LOGO.svg')
                        .lg-9.navbar__wrapper
                            .navbar__left
                                a(href='#is-about') О сервисе
                                a(href='#is-partners') Партнеры
                                a(href='#is-radio') Радио
                                a(href='#') Статистика
                            .navbar__right
                                a(href='#is-faq') FAQ
                                a(href='#contact') Контакты
                        .lg-auto.text_right.header__feedback
                            a#feedback.btn(href='#' style='box-shadow: 0 6px 15px #C27E3E') Связаться
                        .md-4.header__phone
                            a(href="tel:+375291234567")
            .header__banner
                ul.elipse__wrapper.elipse__banner(data-relative-input="true" )
                    li(data-depth="0.1"): img(src='./img/elipse_1.svg')
                    li(data-depth="0.3"): img(src='./img/elipse_2.svg')
                    li(data-depth="0.2"): img(src='./img/elipse_3.svg')
                    li(data-depth="0.3"): img(src='./img/elipse_4.svg')
                    li(data-depth="0.2"): img(src='./img/elipse_5.svg')
                    li(data-depth="0.3"): img(src='./img/elipse_6.svg')
                .container
                    .row
                        .lg-6.md-12.banner__desc
                            h1.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1s") OpenSpot - размещение рекламы по справедливой цене
                            p.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="2s") Платформа OpenSpot позволяет рекламодателям выбирать наиболее подходящие и выгодные каналы продвижения.
                            .banner__btn.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="3s")
                                a.btn(href='#' style='box-shadow: 0 6px 15px rgba(210, 84, 146, 0.89)') Начать
                                a.btn.btn_transp(href='#') Узнать больше
                .banner__img
                    img(src='./img/banner.png')

        #is-about.section
            .container
                .text_center.title
                    span.sub__title Что мы предлагаем?
                    | Что такое OpenSpot?
                .row.about__wrapper
                    .lg-4.md-12.text_center.about__item
                        .icon.icon_1: img(src='./img/benefit.svg')
                        .title__item.wow.fadeInUp(data-wow-duration="1s") Выгода
                        .desc.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1s") Платформа OpenSpot позволяет рекламодателям выбирать наиболее подходящие и выгодные каналы продвижения, а рекламораспространителям допродавть свой свободный инвентарь.
                    .lg-4.md-12.text_center.about__item
                        .icon.icon_2: img(src='./img/transparency.svg')
                        .title__item.wow.fadeInUp(data-wow-duration="1s") Прозрачность
                        .desc.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1s") Прозрачная система позволяет оценивать все каналы оффлайн рекламы и выбирать наиболее эффективные.
                    .lg-4.md-12.text_center.about__item
                        .icon.icon_3: img(src='./img/efficiency.svg')
                        .title__item.wow.fadeInUp(data-wow-duration="1s") Эффективность
                        .desc.wow.fadeInUp.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1s") Благодаря интеграции исследований в платформу, клиенты получают детализированную информацию для планирования рекламной кампании и могут распределять свои рекламные бюджеты наиболее эффективно.
            ul.elipse__wrapper.elipse__about(data-relative-input="true" )
                li(data-depth="0.1"): img(src='./img/elipse_big_7.svg')
                li(data-depth="0.2"): img(src='./img/elipse_big_8.svg')

        #is-partners.section
            .container
                .row
                    .lg-4.md-12.partners__desc
                        .text_left.title.wow.fadeInUp(data-wow-duration="1s")
                            span.sub__title С кем мы работаем?
                            | Наши партнеры
                        .desc.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1s") Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
                    .lg-8.md-12.partners__wrapper
                        .partners__item.item_1
                            img(src='./img/logo_partner_1.png')
                        .partners__item.item_2
                            img(src='./img/logo_partner_1.png')
                        .partners__item.item_3
                            img(src='./img/logo_partner_2.png')
                        .partners__item.item_4
                            img(src='./img/logo_partner_2.png')
                        .partners__item.item_5
                            img(src='./img/logo_partner_1.png')

        #is-radio.section
            .container
                .row
                    .lg-6.md-6.sm-12.screen__section
                        .screen__wrapper
                            .main__screen
                                img(src="./img/screen_1.png")
                            .sub__screen
                                img(src="./img/screen_2.png")
                    .lg-6.md-6.sm-12
                        .text__wrapper
                            .text_left.title.wow.fadeInUp(data-wow-duration="1s")
                                span.sub__title Что мы предлагаем?
                                | Реклама на радио
                            .desc.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1s") Благодаря интеграции исследований в платформу, клиенты получают детализированную информацию для планирования рекламной кампании и могут распределять свои рекламные бюджеты наиболее эффективно.
                .form__wrapper
                    .form__title.text_left Реклама на радио
                    form(method="get" action="http://178.172.173.58/cpt" class="calculator row ajax-form js-cpt-calculator" data-noreload data-response=".js-cpt-inner")
                        input(type="hidden" name="_token" value="Ng2x5rCQH887LZke6E8C7SdqeUT8fYem8Szt2r7q")
                        .lg-6.md-6.form__box
                            .h2__title Интересующий регион
                            .tags__toggle
                                label.tag-label Все регионы
                                    input(type="checkbox" class="tag-input check_all")
                            .tags.tags__input
                                input(type="checkbox" name="k[]" value="minsk" class="tag-input" id="rMinsk" checked)
                                label(for="rMinsk" class="tag-label") Минск
                                input(type="checkbox" name="k[]" value="obl" class="tag-input" id="rObl" checked)
                                label(for="rObl" class="tag-label") Областные центры
                        .lg-6.md-6.form__box
                            .h2__title Пол аудитории
                            .tags__toggle
                                label.tag-label Все полы
                                    input(type="checkbox" class="tag-input check_all")
                            .tags.tags__input
                                input(type="checkbox" name="k[]" value="male" class="tag-input" id="sM" checked)
                                label(for="sM" class="tag-label") Мужской
                                input(type="checkbox" name="k[]" value="female" class="tag-input" id="sF" checked)
                                label(for="sF" class="tag-label") Женский

                        .lg-12.form__box
                            .h2__title Возраст аудитории
                            .tags__toggle
                                label.tag-label Все возраста
                                    input(type="checkbox" class="tag-input check_all")
                            .tags.tags__input
                                input(type="checkbox" name="k[]" value="age18-24" class="tag-input" id="a1" checked)
                                label(for="a1" class="tag-label") 18-24

                                input(type="checkbox" name="k[]" value="age25-29" class="tag-input" id="a2" checked)
                                label(for="a2" class="tag-label") 25-29

                                input(type="checkbox" name="k[]" value="age30-34" class="tag-input" id="a3" checked)
                                label(for="a3" class="tag-label") 30-34

                                input(type="checkbox" name="k[]" value="age35-39" class="tag-input" id="a4" checked)
                                label(for="a4" class="tag-label") 35-39

                                input(type="checkbox" name="k[]" value="age40-44" class="tag-input" id="a5" checked)
                                label(for="a5" class="tag-label") 40-44

                                input(type="checkbox" name="k[]" value="age45-49" class="tag-input" id="a6" checked)
                                label(for="a6" class="tag-label") 45-49

                                input(type="checkbox" name="k[]" value="age50-54" class="tag-input" id="a7" checked)
                                label(for="a7" class="tag-label") 50-54

                                input(type="checkbox" name="k[]" value="age55-59" class="tag-input" id="a8" checked)
                                label(for="a8" class="tag-label") 55-59

                                input(type="checkbox" name="k[]" value="age60-65" class="tag-input" id="a9" checked)
                                label(for="a9" class="tag-label") 60-65

                        .lg-12.form__box
                            .h2__title Радиостанции
                            .tags.tags__radio
                                input(type="radio" name="radio" value="" class="tag-input" id="r1" checked)
                                label(for="r1" class="tag-label") Все

                                input(type="radio" name="radio" value="" class="tag-input" id="r2")
                                label(for="r2" class="tag-label") Радио Рокс

                                input(type="radio" name="radio" value="" class="tag-input" id="r3")
                                label(for="r3" class="tag-label") Русское радио

                                input(type="radio" name="radio" value="" class="tag-input" id="r4")
                                label(for="r4" class="tag-label") Радио Рокс

                                input(type="radio" name="radio" value="" class="tag-input" id="r5")
                                label(for="r5" class="tag-label") Русское радио

                                input(type="radio" name="radio" value="" class="tag-input" id="r6")
                                label(for="r6" class="tag-label") Радио Рокс

                    .stock__title Акционные предложения
                        .row.stock__wrapper
                            .lg-3.md-10.stock__item
                                div
                                    .stock__head
                                        .logo
                                            img(src="./img/logo_stock.svg")
                                        .sale Прайм
                                            span -15%
                                    ul.property
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                    a.btn(href="javascript:;") Разместить
                            .lg-3.md-10.stock__item
                                div
                                    .stock__head
                                        .logo
                                            img(src="./img/logo_stock.svg")
                                        .sale Прайм
                                            span -15%
                                    ul.property
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                    a.btn(href="javascript:;") Разместить
                            .lg-3.md-10.stock__item
                                div
                                    .stock__head
                                        .logo
                                            img(src="./img/logo_stock.svg")
                                        .sale Прайм
                                            span -15%
                                    ul.property
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                    a.btn(href="javascript:;") Разместить
                            .lg-3.md-10.stock__item
                                div
                                    .stock__head
                                        .logo
                                            img(src="./img/logo_stock.svg")
                                        .sale Прайм
                                            span -15%
                                    ul.property
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                    a.btn(href="javascript:;") Разместить

                    .calculator__table
                        .row.calculator__table__header
                            .lg-2.md-4.th Станция
                            .lg-2.md-4.th Пресет
                                span.th__filter
                            .lg-1.md-4.th Стоимость МП, руб
                                span.th__filter
                            .lg-1.md-4.th CPT, руб
                                span.th__filter
                            .lg-1.md-4.th Охват, тыс
                                span.th__filter
                            .lg-1.md-4.th Время, сек
                                span.th__filter
                            .lg-auto.th Количество выходов
                                span.th__filter
                            .lg-2.md-4.th

                        .jc-cpt-inner
                            .row
                                .lg-2.md-4.td Радио Рокс
                                .lg-2.md-4.td
                                    span.preset Прайм
                                .lg-1.md-4.td 2985.75
                                .lg-1.md-4.td 254.61
                                .lg-1.md-4.td 0.72
                                .lg-1.md-4.td 0.72
                                .lg-auto.td Прайм
                                .lg-3.text_right.td
                                    a.btn(href="javascript:;") Разместить
                                .dropdown__property
                                    .md-8.th
                                        .th CPT, руб
                                        .th Охват, тыс
                                        .th Время, сек
                                        .th Количество выходов
                                    .md-4.td
                                        .td 254.61
                                        .td 0.72
                                        .td 0.72
                                        .td Прайм
                                    a.btn(href="javascript:;") Разместить
                                span.arrow
                            .row
                                .lg-2.md-4.td Радио Рокс
                                .lg-2.md-4.td
                                    span.preset Прайм
                                .lg-1.md-4.td 2985.75
                                .lg-1.md-4.td 254.61
                                .lg-1.md-4.td 0.72
                                .lg-1.md-4.td 0.72
                                .lg-auto.td Прайм
                                .lg-3.text_right.td
                                    a.btn(href="javascript:;") Разместить
                                span.arrow
                            .row
                                .lg-2.md-4.td Радио Рокс
                                .lg-2.md-4.td
                                    span.preset Прайм
                                .lg-1.md-4.td 2985.75
                                .lg-1.md-4.td 254.61
                                .lg-1.md-4.td 0.72
                                .lg-1.md-4.td 0.72
                                .lg-auto.td Прайм
                                .lg-3.text_right.td
                                    a.btn(href="javascript:;") Разместить
                                span.arrow
                            .row
                                .lg-2.md-4.td Радио Рокс
                                .lg-2.md-4.td
                                    span.preset Прайм
                                .lg-1.md-4.td 2985.75
                                .lg-1.md-4.td 254.61
                                .lg-1.md-4.td 0.72
                                .lg-1.md-4.td 0.72
                                .lg-auto.td Прайм
                                .lg-3.text_right.td
                                    a.btn(href="javascript:;") Разместить
                                span.arrow
                            .row
                                .lg-2.md-4.td Радио Рокс
                                .lg-2.md-4.td
                                    span.preset Прайм
                                .lg-1.md-4.td 2985.75
                                .lg-1.md-4.td 254.61
                                .lg-1.md-4.td 0.72
                                .lg-1.md-4.td 0.72
                                .lg-auto.td Прайм
                                .lg-3.text_right.td
                                    a.btn(href="javascript:;") Разместить
                                span.arrow
                            .row
                                .lg-2.md-4.td Радио Рокс
                                .lg-2.md-4.td
                                    span.preset Прайм
                                .lg-1.md-4.td 2985.75
                                .lg-1.md-4.td 254.61
                                .lg-1.md-4.td 0.72
                                .lg-1.md-4.td 0.72
                                .lg-auto.td Прайм
                                .lg-3.text_right.td
                                    a.btn(href="javascript:;") Разместить
                                span.arrow
                            .row
                                .lg-2.md-4.td Радио Рокс
                                .lg-2.md-4.td
                                    span.preset Прайм
                                .lg-1.md-4.td 2985.75
                                .lg-1.md-4.td 254.61
                                .lg-1.md-4.td 0.72
                                .lg-1.md-4.td 0.72
                                .lg-auto.td Прайм
                                .lg-3.text_right.td
                                    a.btn(href="javascript:;") Разместить
                                span.arrow
                            .row
                                .lg-2.md-4.td Радио Рокс
                                .lg-2.md-4.td
                                    span.preset Прайм
                                .lg-1.md-4.td 2985.75
                                .lg-1.md-4.td 254.61
                                .lg-1.md-4.td 0.72
                                .lg-1.md-4.td 0.72
                                .lg-auto.td Прайм
                                .lg-3.text_right.td
                                    a.btn(href="javascript:;") Разместить
                                span.arrow
                            .row
                                .lg-2.md-4.td Радио Рокс
                                .lg-2.md-4.td
                                    span.preset Прайм
                                .lg-1.md-4.td 2985.75
                                .lg-1.md-4.td 254.61
                                .lg-1.md-4.td 0.72
                                .lg-1.md-4.td 0.72
                                .lg-auto.td Прайм
                                .lg-3.text_right.td
                                    a.btn(href="javascript:;") Разместить
                                span.arrow
                            .row
                                .lg-2.md-4.td Радио Рокс
                                .lg-2.md-4.td
                                    span.preset Прайм
                                .lg-1.md-4.td 2985.75
                                .lg-1.md-4.td 254.61
                                .lg-1.md-4.td 0.72
                                .lg-1.md-4.td 0.72
                                .lg-auto.td Прайм
                                .lg-3.text_right.td
                                    a.btn(href="javascript:;") Разместить
                                span.arrow
                            .row
                                .lg-2.md-4.td Радио Рокс
                                .lg-2.md-4.td
                                    span.preset Прайм
                                .lg-1.md-4.td 2985.75
                                .lg-1.md-4.td 254.61
                                .lg-1.md-4.td 0.72
                                .lg-1.md-4.td 0.72
                                .lg-auto.td Прайм
                                .lg-3.text_right.td
                                    a.btn(href="javascript:;") Разместить
                                span.arrow
                            .row
                                .lg-2.md-4.td Радио Рокс
                                .lg-2.md-4.td
                                    span.preset Прайм
                                .lg-1.md-4.td 2985.75
                                .lg-1.md-4.td 254.61
                                .lg-1.md-4.td 0.72
                                .lg-1.md-4.td 0.72
                                .lg-auto.td Прайм
                                .lg-3.text_right.td
                                    a.btn(href="javascript:;") Разместить
                                span.arrow


            ul.elipse__wrapper.elipse__radio(data-relative-input="true" )
                li(data-depth="0.1"): img(src='./img/elipse_big_4.svg')
                li(data-depth="0.1"): img(src='./img/elipse_big_5.svg')
                li(data-depth="0.1"): img(src='./img/elipse_big_6.svg')

        #is-faq.section
            .container
                .row
                    .lg-5.md-12.faq__wrapper
                        .text_left.title
                            span.sub__title Мы можем вам помочь
                            | Остались вопросы?
                        .faq__items
                            .accordion.faq__item Как с вами связаться?
                                span
                                .faq__item__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            .accordion.faq__item Я внимательно изучил все материалы сайта, но у меня остались вопросы
                                span
                                .faq__item__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            .accordion.faq__item Что я тут забыл?
                                span
                                .faq__item__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            .accordion.faq__item Кто вы?
                                span
                                .faq__item__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            .accordion.faq__item Зачем вы мне надо?
                                span
                                .faq__item__desc
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .lg-auto.md-12.form__feedback
                        form.text_center.feedback.form(action="")
                            .text_center.title__form Все еще есть вопросы?
                                span.sub__title Заполните форму обратной связи и наши специалисты свяжутся с вами!
                            input(type="text" placeholder="Имя*")
                            input(type="tel" placeholder="Номер телефона:*")
                            input(type="email" placeholder="E-mail*")
                            input.btn.submit(type="submit" value="Отправить")
            ul.elipse__wrapper.elipse__faq(data-relative-input="true" )
                li(data-depth="0.1"): img(src='./img/elipse_big_3.svg')

        footer#contact
            .container
                .row
                    .lg-3.md-6
                        .logo
                            img(src='./img/LOGO.svg')
                            p © OPENSPOT.BY <br>+375(29)6332756 ИП Маринич М.М. <br>УНП 690731091
                    .lg-3.md-7.footer__navbar
                        a(href="#") О сервисе
                        a(href="#") Наши партнеры
                        a(href="#") Реклама на радио
                        a(href="#") FAQ
                    .lg-3.md-6.footer__contact
                        a(href="tel:+375291234567") +375 29 123 45 67
                        a(href="tel:+375331234567") +375 33 123 45 67
                        a(href="mailto:mailbox@mail.com") mailbox@mail.com
                    .lg-3.md-5.footer__adress
                        p Минск, пр-т Дзержинского, 104
                        ul.soc_link
                            li: a(href=""): img(src="./img/fb.svg")
                            li: a(href=""): img(src="./img/tw.svg")
                            li: a(href=""): img(src="./img/vk.svg")

            ul.elipse__wrapper.elipse__footer(data-relative-input="true" )
                li(data-depth="0.1"): img(src='./img/elipse_big_1.svg')
                li(data-depth="0.3"): img(src='./img/elipse_big_2.svg')

            #tags_pop-up.pop-up
                .overlay
                    .pop-up__body
                        .bg.tags__wrapper
                        .bg.btn__control
                            button.cancel Отмена
                            button.ok Ок



        script(src='./js/libs.min.js')
        script(src='./js/main.min.js')
