doctype html
html(lang='UTF-8')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Test
        link(href='./css/libs.min.css', rel='stylesheet')
        link(href='./css/style.min.css', rel='stylesheet')

    body.stat__page

        header
            .header__navbar
                .container
                    .row
                        .md-4.burger: span
                        .logo.lg-auto.md-4
                            a(href='/')
                                img(src='./img/LOGO_Page.svg')
                        .lg-9.navbar__wrapper
                            .navbar__left
                                a(href='#is-about') О сервисе
                                a(href='#is-partners') Партнеры
                                a(href='#is-radio') Радио
                                .dropdown__wrapper
                                    span.dropdown__toggle Статистика
                                    .dropdown__menu
                                        a.dropdown__item(href='#') Радио РОКС
                                        a.dropdown__item(href='#') Радио РОКС
                                        a.dropdown__item(href='#') Радио 3
                                        a.dropdown__item(href='#') Радио 4
                                        a.dropdown__item(href='#') Радио 5
                            .navbar__right
                                a(href='#is-faq') FAQ
                                a(href='#contact') Контакты
                        .lg-auto.text_right.header__feedback
                            a#feedback.btn(href='#') Связаться
                        .md-4.header__phone
                            a(href="tel:+375291234567")

        #statistics.section
            .container
                .text_left.title.wow.fadeInUp(data-wow-duration="1s")
                    span.sub__title Кто мы такие?
                    | Радио РОКС
                .desc.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1s")
                    p «Радио РОКС» — старейший бренд в истории FM-вещания Беларуси и первая коммерческая FM-станция на территории Беларуси. Сегодня «Радио РОКС» вещает в Минске и во всех областных центрах страны.
                    p «Радио РОКС» — это радио для тех, кто ценит и любит качественную русскую музыку. В своем эфире «Радио РОКС» объединяет все лучшее, что было создано в таких музыкальных стилях как современный шансон, постшансон, неошансон, популярный эстрадный рок. При этом мы не забываем уделять внимание всему новому, что происходит в мире музыки.
                    p «Радио РОКС» — музыка для души!
                    p «Радио РОКС» на протяжении последних лет уверенно занимает первое место в рейтингах по всей Беларуси, и входит в «золотую» тройку лидеров FM-вещания в Минске. «Радио РОКС» по всей стране ежедневно слушают более 190 000 слушателей — таковы данные независимых социологических исследований.

                .row
                    .lg-6.sm-12
                        .stat__item
                            .stat__title Аудиторные доли радиостанций (все 12-65 лет)
                            .chart__wrapper
                                .select__box
                                    span.date Январь - Декабрь 2018
                                    span по
                                        select(name='location')
                                            option(value="chartShare1" selected) Минску
                                            option(value="chartShare2") Областным центрам
                                    span по
                                        select(name='day')
                                            option(value="chartShare3" selected) Будням
                                            option(value="chartShare4") Выходным
                                #chartShare1(data-chart='chartShare1')
                                #chartShare2(data-chart='chartShare2')
                                #chartShare3(data-chart='chartShare3')
                                #chartShare4(data-chart='chartShare4')
                    .lg-6.sm-12
                        .stat__item
                            .stat__title Средние охваты радиостанций, тыс. чел
                            .chart__wrapper
                                .select__box
                                    span.date Январь - Декабрь 2018
                                    span по
                                        select(name='location')
                                            option(value="loc1" selected) Минску
                                            option(value="loc2") Областным центрам
                                .row
                                    #chartDayReach.lg-6.md-12
                                        .reach__item
                                            img(src='./img/stat_ico_1.svg')
                                            span.cout 141
                                            p Общий среднесуточный охват
                                    #chartWeekReach.lg-6.md-12
                                        .reach__item
                                            img(src='./img/stat_ico_2.svg')
                                            span.cout 500
                                            p Общий средненедельный охват
                                    #chartMinkReach.lg-12.md-12
                                        .reach__item
                                            span.cout 26 тыс. чел
                                            p Общий средненедельный охват
                    .lg-12
                        .stat__item
                            .stat__title Почасовое слушание радио, пн-вс
                            #chartTime
                    .lg-12
                        .stat__item
                            .stat__title Профиль радиостанции <span>Радио РОКС<span> среди жителей Минска и областных центров
                            .chart__items
                                #chartSex.chart__item
                                #chartAge.chart__item
                                #chartPlace.chart__item
                    .lg-12
                        .stat__item
                            .stat__title Стоимость за 1 000 контактов (CPT OTS)
                            .chart__wrapper
                                .select__box
                                    span.date Для 15 секунд ролика (Gross $ c  НДС)
                                    ul.tags__r
                                        li.r__1 Радио РОКС
                                        li.r__2 Русское радио
                                        li.r__3 Радио 3
                                        li.r__4 Радио 4
                                        li.r__5 Радио 5
                                        li.r__6 Радио 5

                                #chartPrice

            ul.elipse__wrapper.elipse__stat(data-relative-input="true" )
                li(data-depth="0.1"): img(src='./img/elipse_big_7.svg')
                li(data-depth="0.2"): img(src='./img/elipse_big_8.svg')
                li(data-depth="0.1"): img(src='./img/elipse_big_4.svg')
                li(data-depth="0.1"): img(src='./img/elipse_big_5.svg')

        #is-radio.section
            .container
                .form__wrapper
                    .form__title.text_left Реклама на радио
                    form(method="get" action="http://178.172.173.58/cpt" class="calculator row ajax-form js-cpt-calculator" data-noreload data-response=".js-cpt-inner")
                        input(type="hidden" name="_token" value="Ng2x5rCQH887LZke6E8C7SdqeUT8fYem8Szt2r7q")
                        .lg-6.md-6.form__box
                            .h2__title Интересующий регион
                            .tags__toggle Все регионы
                            .tags.tags__checkbox
                                input(type="checkbox" name="k[]" value="minsk" class="tag-input" id="rMinsk" checked)
                                label(for="rMinsk" class="tag-label") Минск
                                input(type="checkbox" name="k[]" value="obl" class="tag-input" id="rObl" checked)
                                label(for="rObl" class="tag-label") Областные центры
                        .lg-6.md-6.form__box
                            .h2__title Пол аудитории
                            .tags__toggle Все полы
                            .tags.tags__checkbox
                                input(type="checkbox" name="k[]" value="male" class="tag-input" id="sM" checked)
                                label(for="sM" class="tag-label") Мужской
                                input(type="checkbox" name="k[]" value="female" class="tag-input" id="sF" checked)
                                label(for="sF" class="tag-label") Женский

                        .lg-12.form__box
                            .h2__title Возраст аудитории
                            .tags__toggle Все возраста
                            .tags.tags__checkbox
                                input(type="checkbox" name="k[]" value="age18-24" class="tag-input" id="a1" checked)
                                label(for="a1" class="tag-label") 18-24

                                input(type="checkbox" name="k[]" value="age25-29" class="tag-input" id="a2" checked)
                                label(for="a2" class="tag-label") 25-29

                                input(type="checkbox" name="k[]" value="age30-34" class="tag-input" id="a3" checked)
                                label(for="a3" class="tag-label") 30-34

                                input(type="checkbox" name="k[]" value="age35-39" class="tag-input" id="a4" checked)
                                label(for="a4" class="tag-label") 35-39

                                input(type="checkbox" name="k[]" value="age40-44" class="tag-input" id="a5" checked)
                                label(for="a5" class="tag-label") 40-44

                                input(type="checkbox" name="k[]" value="age45-49" class="tag-input" id="a6" checked)
                                label(for="a6" class="tag-label") 45-49

                                input(type="checkbox" name="k[]" value="age50-54" class="tag-input" id="a7" checked)
                                label(for="a7" class="tag-label") 50-54

                                input(type="checkbox" name="k[]" value="age55-59" class="tag-input" id="a8" checked)
                                label(for="a8" class="tag-label") 55-59

                                input(type="checkbox" name="k[]" value="age60-65" class="tag-input" id="a9" checked)
                                label(for="a9" class="tag-label") 60-65

                        input(type="text" name="sort" value="sort-cpt" class="select-sort" id="sort")

                    .stock__title Акционные предложения
                        .row.stock__wrapper
                            .lg-3.md-10.stock__item
                                div
                                    .stock__head
                                        .logo
                                            img(src="./img/logo_stock.svg")
                                        .sale Прайм
                                            span -15%
                                    ul.property
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                    a.btn(href="javascript:;") Разместить
                            .lg-3.md-10.stock__item
                                div
                                    .stock__head
                                        .logo
                                            img(src="./img/logo_stock.svg")
                                        .sale Прайм
                                            span -15%
                                    ul.property
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                    a.btn(href="javascript:;") Разместить
                            .lg-3.md-10.stock__item
                                div
                                    .stock__head
                                        .logo
                                            img(src="./img/logo_stock.svg")
                                        .sale Прайм
                                            span -15%
                                    ul.property
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                    a.btn(href="javascript:;") Разместить
                            .lg-3.md-10.stock__item
                                div
                                    .stock__head
                                        .logo
                                            img(src="./img/logo_stock.svg")
                                        .sale Прайм
                                            span -15%
                                    ul.property
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                        li Стоимость МП, руб
                                            span 254,61
                                    a.btn(href="javascript:;") Разместить

                    .calculator__table
                        .mobile__sort Сортировать по
                            select(name='sort')
                                option(value="sort-cost") Стоимость МП
                                option(value="sort-cpt" selected) СРТ
                                option(value="sort-cover") Охват
                                option(value="sort-time") Время
                                option(value="sort-count") Количество выходов

                        .row.calculator__table__header
                            .lg-2.md-4.th Станция
                            .lg-2.md-4.th.js-sort-selector(data-sort='sort-preset') Пресет
                                span.th__filter
                            .lg-1.md-4.th.js-sort-selector(data-sort='sort-cost') Стоимость МП, руб
                                span.th__filter
                            .lg-1.md-4.th.js-sort-selector.is-active(data-sort='sort-cpt') CPT, руб
                                span.th__filter
                            .lg-1.md-4.th.js-sort-selector(data-sort='sort-cover') Охват, тыс
                                span.th__filter
                            .lg-1.md-4.th.js-sort-selector(data-sort='sort-time') Время, сек
                                span.th__filter
                            .lg-auto.th.js-sort-selector(data-sort='sort-count') Количество выходов
                                span.th__filter
                            .lg-2.md-4.th

                        .result__table
                            .js-cpt-inner
                                .row
                                    .lg-2.md-4.td Радио Рокс
                                    .lg-2.md-4.td.js-showhide-preset
                                        span.preset Прайм
                                    .lg-1.md-4.td.js-showhide-cost 2985.75
                                    .lg-1.md-4.td.js-showhide-cpt 254.61
                                    .lg-1.md-4.td.js-showhide-cover 0.72
                                    .lg-1.md-4.td.js-showhide-time 0.72
                                    .lg-auto.td.js-showhide-count Прайм
                                    .lg-3.text_right.td
                                        a.btn(href="javascript:;") Разместить
                                    .dropdown__property
                                        .md-8.th
                                            .th CPT, руб
                                            .th Охват, тыс
                                            .th Время, сек
                                            .th Количество выходов
                                        .md-4.td
                                            .td 254.61
                                            .td 0.72
                                            .td 0.72
                                            .td Прайм
                                        a.btn(href="javascript:;") Разместить
                                    span.arrow
                                .row
                                    .lg-2.md-4.td Радио Рокс
                                    .lg-2.md-4.td.js-showhide-preset
                                        span.preset Прайм
                                    .lg-1.md-4.td.js-showhide-cost 2985.75
                                    .lg-1.md-4.td.js-showhide-cpt 254.61
                                    .lg-1.md-4.td.js-showhide-cover 0.72
                                    .lg-1.md-4.td.js-showhide-time 0.72
                                    .lg-auto.td.js-showhide-count Прайм
                                    .lg-3.text_right.td
                                        a.btn(href="javascript:;") Разместить
                                    span.arrow
                                .row
                                    .lg-2.md-4.td Радио Рокс
                                    .lg-2.md-4.td.js-showhide-preset
                                        span.preset Прайм
                                    .lg-1.md-4.td.js-showhide-cost 2985.75
                                    .lg-1.md-4.td.js-showhide-cpt 254.61
                                    .lg-1.md-4.td.js-showhide-cover 0.72
                                    .lg-1.md-4.td.js-showhide-time 0.72
                                    .lg-auto.td.js-showhide-count Прайм
                                    .lg-3.text_right.td
                                        a.btn(href="javascript:;") Разместить
                                    span.arrow
                                .row
                                    .lg-2.md-4.td Радио Рокс
                                    .lg-2.md-4.td.js-showhide-preset
                                        span.preset Прайм
                                    .lg-1.md-4.td.js-showhide-cost 2985.75
                                    .lg-1.md-4.td.js-showhide-cpt 254.61
                                    .lg-1.md-4.td.js-showhide-cover 0.72
                                    .lg-1.md-4.td.js-showhide-time 0.72
                                    .lg-auto.td.js-showhide-count Прайм
                                    .lg-3.text_right.td
                                        a.btn(href="javascript:;") Разместить
                                    span.arrow
                                .row
                                    .lg-2.md-4.td Радио Рокс
                                    .lg-2.md-4.td.js-showhide-preset
                                        span.preset Прайм
                                    .lg-1.md-4.td.js-showhide-cost 2985.75
                                    .lg-1.md-4.td.js-showhide-cpt 254.61
                                    .lg-1.md-4.td.js-showhide-cover 0.72
                                    .lg-1.md-4.td.js-showhide-time 0.72
                                    .lg-auto.td.js-showhide-count Прайм
                                    .lg-3.text_right.td
                                        a.btn(href="javascript:;") Разместить
                                    span.arrow
                                .row
                                    .lg-2.md-4.td Радио Рокс
                                    .lg-2.md-4.td.js-showhide-preset
                                        span.preset Прайм
                                    .lg-1.md-4.td.js-showhide-cost 2985.75
                                    .lg-1.md-4.td.js-showhide-cpt 254.61
                                    .lg-1.md-4.td.js-showhide-cover 0.72
                                    .lg-1.md-4.td.js-showhide-time 0.72
                                    .lg-auto.td.js-showhide-count Прайм
                                    .lg-3.text_right.td
                                        a.btn(href="javascript:;") Разместить
                                    span.arrow
                                .row
                                    .lg-2.md-4.td Радио Рокс
                                    .lg-2.md-4.td.js-showhide-preset
                                        span.preset Прайм
                                    .lg-1.md-4.td.js-showhide-cost 2985.75
                                    .lg-1.md-4.td.js-showhide-cpt 254.61
                                    .lg-1.md-4.td.js-showhide-cover 0.72
                                    .lg-1.md-4.td.js-showhide-time 0.72
                                    .lg-auto.td.js-showhide-count Прайм
                                    .lg-3.text_right.td
                                        a.btn(href="javascript:;") Разместить
                                    span.arrow
                                .row
                                    .lg-2.md-4.td Радио Рокс
                                    .lg-2.md-4.td.js-showhide-preset
                                        span.preset Прайм
                                    .lg-1.md-4.td.js-showhide-cost 2985.75
                                    .lg-1.md-4.td.js-showhide-cpt 254.61
                                    .lg-1.md-4.td.js-showhide-cover 0.72
                                    .lg-1.md-4.td.js-showhide-time 0.72
                                    .lg-auto.td.js-showhide-count Прайм
                                    .lg-3.text_right.td
                                        a.btn(href="javascript:;") Разместить
                                    span.arrow
                                .row
                                    .lg-2.md-4.td Радио Рокс
                                    .lg-2.md-4.td.js-showhide-preset
                                        span.preset Прайм
                                    .lg-1.md-4.td.js-showhide-cost 2985.75
                                    .lg-1.md-4.td.js-showhide-cpt 254.61
                                    .lg-1.md-4.td.js-showhide-cover 0.72
                                    .lg-1.md-4.td.js-showhide-time 0.72
                                    .lg-auto.td.js-showhide-count Прайм
                                    .lg-3.text_right.td
                                        a.btn(href="javascript:;") Разместить
                                    span.arrow
                                .row
                                    .lg-2.md-4.td Радио Рокс
                                    .lg-2.md-4.td.js-showhide-preset
                                        span.preset Прайм
                                    .lg-1.md-4.td.js-showhide-cost 2985.75
                                    .lg-1.md-4.td.js-showhide-cpt 254.61
                                    .lg-1.md-4.td.js-showhide-cover 0.72
                                    .lg-1.md-4.td.js-showhide-time 0.72
                                    .lg-auto.td.js-showhide-count Прайм
                                    .lg-3.text_right.td
                                        a.btn(href="javascript:;") Разместить
                                    span.arrow
                                .row
                                    .lg-2.md-4.td Радио Рокс
                                    .lg-2.md-4.td.js-showhide-preset
                                        span.preset Прайм
                                    .lg-1.md-4.td.js-showhide-cost 2985.75
                                    .lg-1.md-4.td.js-showhide-cpt 254.61
                                    .lg-1.md-4.td.js-showhide-cover 0.72
                                    .lg-1.md-4.td.js-showhide-time 0.72
                                    .lg-auto.td.js-showhide-count Прайм
                                    .lg-3.text_right.td
                                        a.btn(href="javascript:;") Разместить
                                    span.arrow
                                .row
                                    .lg-2.md-4.td Радио Рокс
                                    .lg-2.md-4.td.js-showhide-preset
                                        span.preset Прайм
                                    .lg-1.md-4.td.js-showhide-cost 2985.75
                                    .lg-1.md-4.td.js-showhide-cpt 254.61
                                    .lg-1.md-4.td.js-showhide-cover 0.72
                                    .lg-1.md-4.td.js-showhide-time 0.72
                                    .lg-auto.td.js-showhide-count Прайм
                                    .lg-3.text_right.td
                                        a.btn(href="javascript:;") Разместить
                                    span.arrow

        footer#contact
            .container
                .row
                    .lg-3.md-6
                        .logo
                            img(src='./img/LOGO.svg')
                            p © OPENSPOT.BY <br>+375(29)6332756 ИП Маринич М.М. <br>УНП 690731091
                    .lg-3.md-7.footer__navbar
                        a(href="#") О сервисе
                        a(href="#") Наши партнеры
                        a(href="#") Реклама на радио
                        a(href="#") FAQ
                    .lg-3.md-6.footer__contact
                        a(href="tel:+375291234567") +375 29 123 45 67
                        a(href="tel:+375331234567") +375 33 123 45 67
                        a(href="mailto:mailbox@mail.com") mailbox@mail.com
                    .lg-3.md-5.footer__adress
                        p Минск, пр-т Дзержинского, 104
                        ul.soc_link
                            li: a(href=""): img(src="./img/fb.svg")
                            li: a(href=""): img(src="./img/tw.svg")
                            li: a(href=""): img(src="./img/vk.svg")

            ul.elipse__wrapper.elipse__footer(data-relative-input="true" )
                li(data-depth="0.1"): img(src='./img/elipse_big_1.svg')
                li(data-depth="0.3"): img(src='./img/elipse_big_2.svg')

            #tags_pop-up.pop-up
                .overlay
                    .pop-up__body
                        .bg.tags__wrapper
                        .bg.btn__control
                            button.cancel Отмена
                            button.ok Ок



        script(src='./js/libs.min.js')
        script(src='https://www.amcharts.com/lib/4/core.js')
        script(src='https://www.amcharts.com/lib/4/charts.js')
        script(src='https://www.amcharts.com/lib/4/themes/animated.js')
        script(src='./js/charts.js')
        script(src='./js/main.min.js')

        script.
            chart1.data = [{
                "radio": "Радио РОКС",
                "percent": 13.8
            }, {
                "radio": "Юмор FM",
                "percent": 12.1
            }, {
                "radio": "UNISTAR",
                "percent": 11.8
            }, {
                "radio": "Новое радио",
                "percent": 10.7
            }, {
                "radio": "Русское Радио Минск",
                "percent": 5.5
            }, {
                "radio": "Пилот FM",
                "percent": 5.5
            }, {
                "radio": "Другие",
                "percent": 40.6
            }];
            chart2.data = [{
                "radio": "Женский пол",
                "percent": 50.6
            }, {
                "radio": "Мужской пол",
                "percent": 49.4
            }];
            chart3.data = [{
                "radio": "12-17 лет",
                "percent": 0.2
            }, {
                "radio": "18-24 года",
                "percent": 7.2
            }, {
                "radio": "25-29 лет",
                "percent": 4.3
            }, {
                "radio": "30-34 года",
                "percent": 6.8
            }, {
                "radio": "45-39 лет",
                "percent": 10.1
            }, {
                "radio": "40-44 года",
                "percent": 8.8
            }, {
                "radio": "45-49 лет",
                "percent": 15.1
            }, {
                "radio": "50-54 года",
                "percent": 18.9
            }, {
                "radio": "55-59 лет",
                "percent": 16.6
            }, {
                "radio": "60-65 лет",
                "percent": 12.0
            }];
            chart4.data = [{
                "radio": "На работе, учебе",
                "percent": 43.7
            }, {
                "radio": "Дома",
                "percent": 26.9
            }, {
                "radio": "В машине",
                "percent": 26.2
            }, {
                "radio": "В общественном транспорте",
                "percent": 0.4
            }, {
                "radio": "Вне помещения (по дороге, на велосипеед)",
                "percent": 10.1
            }, {
                "radio": "Другое",
                "percent": 8.8
            }];
            chart5.data = [{
                "time": "7:00",
                "visits": 11
            }, {
                "time": "8:00",
                "visits": 28
            }, {
                "time": "9:00",
                "visits": 43
            }, {
                "time": "10:00",
                "visits": 44
            }, {
                "time": "11:00",
                "visits": 52
            }, {
                "time": "12:00",
                "visits": 53
            }, {
                "time": "13:00",
                "visits": 55
            }, {
                "time": "14:00",
                "visits": 53
            }, {
                "time": "15:00",
                "visits": 46
            }, {
                "time": "16:00",
                "visits": 43
            }, {
                "time": "17:00",
                "visits": 39
            }, {
                "time": "18:00",
                "visits": 29
            }, {
                "time": "19:00",
                "visits": 26
            }, {
                "time": "20:00",
                "visits": 24
            }, {
                "time": "21:00",
                "visits": 16
            }, {
                "time": "22:00",
                "visits": 11
            }];
            chart6.data = [{
                "age": "25-29 лет",
                "value_1": 2.5,
                "value_2": 2.5,
                "value_3": 2.1,
                "value_4": 1.2,
                "value_5": 0.2,
                "value_6": 0.1
            }, {
                "age": "30-34 лет",
                "value_1": 2.5,
                "value_2": 2.5,
                "value_3": 2.1,
                "value_4": 1.2,
                "value_5": 0.2,
                "value_6": 0.1
            }, {
                "age": "39-45 лет",
                "value_1": 2.5,
                "value_2": 2.5,
                "value_3": 2.1,
                "value_4": 1.2,
                "value_5": 0.2,
                "value_6": 0.1
            }, {
                "age": "40-44 лет",
                "value_1": 2.5,
                "value_2": 2.5,
                "value_3": 2.1,
                "value_4": 1.2,
                "value_5": 0.2,
                "value_6": 0.1
            }, {
                "age": "45-49 лет",
                "value_1": 2.5,
                "value_2": 2.5,
                "value_3": 2.1,
                "value_4": 1.2,
                "value_5": 0.2,
                "value_6": 0.1
            }];
